/* Universal Styles */
.content {
	margin-left: 24px;
	margin-right: 24px;
}

h1, h2, h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #212121;
}

h1 {
	font-size: 48px;
}

h4 {
	font-size: 24px;
}

p {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	line-height: 1.5;
	color: dimgray;
}

a {
	color: dimgray;
}

span {
	font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 4rem;
	background-color: white;
}

header .content {
	display: flex;
	align-items: center;
	height: 4rem;
}

header .logo {
	flex: 1;
}

header span {
	font-weight: bold;
	font-size: 1.5rem;
	height: 2rem;
}

header .mobile {
	display: none;
}

header nav ul {
	display: flex;
}

nav li {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

nav li a {
	font-size: 1.25rem;
}

nav li a:hover {
	font-weight: bold;
}

header .header_logo {
	width: 3rem;
}

@media only screen and (max-width:740px) {

	header .mobile {
		display: block;
		width: 100%;
		height: 4rem;
	}

	nav li {
		margin: auto;
	}

	header nav ul {
		display: flex;
		justify-content: space-between;
		height: 4rem;
	}

	header .desktop {
		display: none;
	}

	header .logo, header .content .header_logo {
		display: none;
	}

}

/* Banner Section */

.start {
	background-color: lightgray;
	padding-top: 4rem;
}

.start .start_here {
	width: 30%;
	margin-left: 1.5rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.start .start_content {
	display: flex;
}

.start h1 {
	margin-bottom: 2.25rem;
}

.start h4 {
	margin-bottom: 2.25rem;
}

.start_content .banner_image {
	width: 60%;
	margin-bottom: 2rem;
	margin-top: 2rem;
}

.start .banner {
	width: 100%;
}

.start .start_button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
	color: white;
	text-align: center;
	padding: 1.5rem 0;
	width: 100%;
	background-color: #212121;
}

.start .start_button:hover {
	font-size: 2rem;
	padding: 1.25rem 0;
	background-color: #a4c739;
	font-weight: bold;
}

@media only screen and (max-width: 740px) {
	.start {
		padding-top: 4rem;
	}

	.start .start_content {
		flex-direction: column;
	}

	.start_content .banner_image {
		width: 100%;
		margin-top: 0;
	}

	.start .content {
		margin: 0;
	}

	.start .start_here {
		width: 100%;
		margin-bottom: 2rem;
	}

	.start .start_button {
		font-size: 1.25rem;
		padding: 1rem 0;
		width: 90%;
		font-weight: bold;
	}

	.start .start_button:hover {
		font-size: 1.25rem;
		padding: 1rem 0;
		width: 90%;
		font-weight: bold;
	}

	.start h1 {
		margin-bottom: 2rem;
	}
}

/* Info Section */

.info {
	display: flex;
}

.info .content {
	width: 60%;
	margin-top: 2rem;
}

.practice img {
	width: 100%;
}

.practice h1, p {
	width: 95%;
}


.practice h1 {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	font-weight: 800;
}

.practice p {
	margin-bottom: 2rem;
}

.highlights {
	width: 40%;
	border-left: 1px solid gray;
	padding-top: 1rem;
}

.highlight {
	display: flex;
	border-bottom: 2px double gray;
	padding-left: 16px;
	margin-bottom: 1px;
}

.highlight_info {
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 65%;
}

.highlight_info p {
	margin: 1rem 0;
}

.highlight_info a {
	color: #107896;
	font-size: 1.15rem;
	font-family: Geneva, Tahoma, sans-serif;
}

.highlight_info a:hover {
	font-weight: bold;
}

.highlight_image {
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 1rem;
	width: 35%;
	height: auto;
}

.highlight img {
	width: 100%;
}

.guest, .fisma {
	background-color: lightgray;
}

.mobile_image {
	display: none;
}

@media only screen and (max-width: 740px) {

	.practice {
		display: none;
	}

	.highlights {
		width: 100%;
		border: 0;
		margin-bottom: 2rem;
	}

	.highlight {
		width: 100%;
		border: 0;
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
	}

	.highlight_image {
		width: 100%;
		height: auto;
		padding: 0;
	}

	.desktop_image {
		display: none
	}

	.mobile_image {
		display: block;
		width: 90%;
	}

	.guest {
		background-color: white;
	}

	.info {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

/* Learning Section - Courses */

.learning {
	background-color: lightgray;
}

.learning h1 {
	padding: 2rem 0;
	text-align: center;
}

.courses {
	margin: 0 3.5rem 1rem 3.5rem;
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 1;
	justify-content: center;
}

.course {
	background-color: white;
	margin-bottom: 2rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.course a {
	display: block;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.course .desktop_link:hover {
	font-weight: bold;
	text-decoration: underline;
}

.course p {
	margin-bottom: 1.5rem;
}

.course h4 {
	margin-top: 1rem;
}

.course h4, .course a, .course p {
	margin-left: 1rem;
}

.course .mobile_title {
	display: none;
}

@media only screen and (max-width: 740px) {

	.course img, .course p, .course .desktop_link, .course .desktop_title {
		display: none;
	}

	.course .mobile_title {
		display: block;
		margin: 0;
		color: black;
		width: auto;
	}

	.course a {
		color: black;
	}

	.learning {
		background-color: white;
		border-top: 1px solid lightgray;
	}

	.courses {
		padding-bottom: 1.75rem;
		margin: 0;
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.course {
		width: 100%;
		background-color: lightgray;
		margin: 0.25rem 0 0.25rem 0;
		padding: 1rem 0 1.5rem 1rem;
	}

}

/* Thesis Section */

.thesis {
	display: flex;
}

.exhibit h1 {
	margin-top: 2rem;
	margin-bottom: 2rem;
	text-align: center;
}

.thesis .content {
	width: 60%;
}

.thesis .content h4 {
	margin: 1.5rem 0 0.5rem;
}

.thesis .content p {
	margin-bottom: 2rem;
}

.thesis .highlights .highlight {
	border: 0;
}

.thesis .highlights {
	border: 0;
}

.exhibit_video {
	width: 100%;
}

.exhibit_video video {
	width: 100%;
}

@media only screen and (max-width: 740px) {

	.thesis .highlights {
		display: none;
	}

	.thesis .content h4, .thesis .content p {
		display: none;
	}

	.thesis .content {
		width: 100%;
		margin-bottom: 1.5rem;
	}

	.exhibit {
		border-top: 1px solid lightgray;
	}

}

/* Footer Section */

footer {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	border-top: 1px solid gray;
	display: flex;
	align-items: center;
	padding-bottom: 3rem;
}

footer p {
	margin-top: 1rem;
	flex: 1;
	font-size: 1rem;
}

footer ul {
	display: flex;
}

footer ul li {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

footer ul li a {
	font-size: 1rem;
}

footer ul li a:hover {
	font-weight: bold;
}

@media only screen and (max-width: 740px) {

	footer ul {
		display: none;
	}

	footer {
		border: 0;
	}

}